<div class="issue" #refIssue>
  <div class="issue__text"
       [ngClass]="{
         'issue__text-active': showSettings,
         'issue__text-ready': issue.status
       }"
       (click)="setShowSettings()">
    {{issue.content}}
  </div>
  <div *ngIf="issue.target.id !== issue.creator.id" class="issue__creator">
    <app-picshow [picture]="issue.creator.avatar"></app-picshow>
  </div>
  <div class="issue__settings" *ngIf="showSettings">
    <ng-container *ngIf="currentUser">

      <ng-container *ngIf="[issue.target.id, issue.creator.id].includes(currentUser.id)">
        <button *ngIf="!issue.status" (click)="changeStatus(issue)" class="btn btn-tiny issue__set issue-ready">
          <i class="fa fa-check fa-fw"></i> Готово
        </button>
        <button *ngIf="issue.status" (click)="changeStatus(issue)" class="btn btn-tiny issue__set issue-cancel">
          <i class="fa fa-undo fa-fw"></i> Не готово
        </button>
      </ng-container>

      <ng-container *ngIf="currentUser.id === issue.creator.id">
        <button class="btn btn-tiny issue__set issue-edit" (click)="showEditIssueNotepad('editIssue', issue)" >
          <i class="fa fa-edit fa-fw"></i> Редактировать
        </button>
        <button (click)="delete(issue)" class="btn btn-tiny issue__set issue-delete">
          <i class="fa fa-remove fa-fw"></i> Удалить
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
