@import "src/assets/styles/variables";

.notepad {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;

  @media (max-width: 425px){
    padding: 15px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(29, 139, 216, .4);
  }

  &__avatar {

  }

  &__user-info {

  }

  &__username {
    font-size: 20px;
    font-weight: 600;
    text-align: right;

    @media (max-width: 425px){
      font-size: 18px;
    }
  }

  &__user-addition {
    font-size: 14px;
    text-align: right;

    @media (max-width: 425px){
      font-size: 12px;
    }
  }

  &__plan {
    padding: 17px 0;
    height: calc(100% - 76px);

    @media (max-width: 425px){
      padding: 13px 0;
    }
  }

  &__plan-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__settings {

  }
  &__settings-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .notepad__add-issue i {
      font-size: 20px;
      color: $blue-dark;
      &:hover {
        color: darken($blue-dark, 15)
      }
    }
  }

  &__settings-block {
    position: relative;
    border-top: 1px solid rgba(29, 139, 216, .4);
    padding-top: 15px;

    p {
      font-weight: 600;
      font-size: 14px;
    }

    .wrap-block {
      display: flex;
      align-items: flex-start;
      margin-top: 10px;

      ::ng-deep button {
        margin-left: 10px;
        line-height: 36px;

        i {
          font-size: 16px;
        }
      }

      .form-group {
        flex: 1;
        input {width: 100%;}
      }
    }
  }
  &__add-new-issue-block {
    padding: 15px 0;
  }

  &__close-settings-block {
    position: absolute;
    top: 17px;
    right: 0;
  }
}
