<div class="notepad">
  <div class="notepad__head">
    <div class="notepad__avatar">
      <app-picshow [picture]="user.avatar"></app-picshow>
    </div>
    <div class="notepad__user-info">
      <div class="notepad__username">{{user.username}}</div>
      <div class="notepad__user-addition" *ngIf="user.position">{{user.position}}</div>
    </div>
  </div>

  <div class="notepad__plan">
    <div *ngIf="!issues.length" class="notepad__plan-empty">У лентяя нет дел на сегодня</div>
    <div *ngIf="issues.length" class="notepad__list" >
      <app-issue *ngFor="let issue of issues"
                 [issue]="issue"
                 [currentUser]="currentUser$ | async"
                 (setEditSettings)="setShowEditSettings($event)"
      ></app-issue>
    </div>
  </div>

  <div class="notepad__settings" *ngIf="showSettings">
    <div class="notepad__settings-block">
      <ui-close class="notepad__close-settings-block" (click)="closeSettingsBlock()" ></ui-close>

      <form *ngIf="showSettings === 'editIssue'" [formGroup]="editIssueForm" (ngSubmit)="editIssue()" class="notepad__edit-issue-block">
        <p>Редактируем задачу</p>
        <div class="wrap-block">
          <div class="form-group">
            <input type="text" placeholder="Описание задачи" formControlName="description" #refEdit />
            <app-field-notice [field]="editIssueForm.get('description')"></app-field-notice>
          </div>
          <app-submit-button [classes]="['btn-tiny btn-tiny-dark-primary']"
                             [disabled]="editIssueForm.invalid || isSubmittingEditIssue"
                             [isSubmitting]="isSubmittingEditIssue">
            <i class="fa fa-pencil"></i>
          </app-submit-button>
        </div>
      </form>
    </div>
  </div>
</div>
