<div class="datebook" *ngIf="(currentUser$ | async) as currentUser">
  <div class="datebook__actions">
    <div class="datebook__action" *ngIf="!settingsShow">
      Настройки &nbsp; <button class="btn btn-tiny" (click)="settingsShow = true"><i class="fa fa-gears fa-2x icon-primary"></i></button>
    </div>

    <ng-container *ngIf="settingsShow && !settingsTarget">

      <ng-container *ngIf="currentUser.id === infoDatebook.creator">
        <div class="datebook__action datebook__action_small">
          <span>Добавить участника</span>
          <button class="btn btn-tiny" (click)="settingsTarget = 'addParticipant'"><i class="fa fa-user-plus icon-success"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          <span>Удалить участника</span>
          <button class="btn btn-tiny" (click)="settingsTarget = 'removeParticipant'"><i class="fa fa-user-times icon-danger"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          <span>Закрыть настройки</span>
          <button class="btn btn-tiny" (click)="closeSettings()"><i class="fa fa-times-circle-o icon-neutral"></i></button>
        </div>
      </ng-container>

      <ng-container *ngIf="currentUser.id !== infoDatebook.creator">
        <div class="datebook__action datebook__action_small">
          <span>Покинуть ежедневник</span>
          <button class="btn btn-tiny" (click)="confirmEscape(infoDatebook)"><i class="fa fa-sign-out icon-danger"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          <span>Закрыть настройки</span>
          <button class="btn btn-tiny" (click)="closeSettings()"><i class="fa fa-times-circle-o icon-neutral"></i></button>
        </div>
      </ng-container>
    </ng-container>
  </div>

<!--  Настройки-->
  <div class="datebook__settings component mb-5" *ngIf="settingsTarget">

<!--    Добавление нового участника-->
    <form *ngIf="settingsTarget === 'addParticipant'" [formGroup]="addParticipantForm" (ngSubmit)="onAddParticipant()" class="form datebook__add-participant-form">
      <ui-close class="datebook__close-add-participant" (click)="this.closeAddParticipant()"></ui-close>
      <div class="form__group">
        <h3>Добавить нового участника</h3>
        <div class="form__horizontal form__vertical-start form__nowrap">
          <div class="flex flex__1 flex__column">
            <input type="email" placeholder="Введи точный email пользователя" formControlName="email" />
            <app-field-notice [field]="addParticipantForm.get('email')"></app-field-notice>
            <app-notice *ngIf="settingsAddParticipant.notice" [notice]="settingsAddParticipant.notice" [type]="settingsAddParticipant.typeNotice" ></app-notice>
          </div> &nbsp;&nbsp;&nbsp;
          <app-submit-button [classes]="['btn-tiny']"
                             [isSubmitting]="settingsAddParticipant.isSubmitting"
                             [disabled]="addParticipantForm.invalid || !settingsAddParticipant.user">
            <i class="fa fa-plus-square icon-primary"></i>
          </app-submit-button>
        </div>
      </div>
    </form>

    <!--    Удаление участника-->
    <ng-container *ngIf="settingsTarget === 'removeParticipant'">
      <ui-close class="datebook__close-remove-participant" (click)="this.closeAddParticipant()"></ui-close>
      <h3>Удаление участников ежедневника "{{infoDatebook.title}}"</h3>

      <ng-container *ngIf="infoDatebook.participants.length === 1">
        <p class="mt-3">Ты - единственный участник этого ежедневника</p>
      </ng-container>

      <div class="datebook__remove-list-participants mt-3" *ngIf="infoDatebook.participants.length > 1">
        <ng-container *ngFor="let participant of infoDatebook.participants">
          <div class="df-card df-card_user" *ngIf="participant.id !== currentUser.id">
            <div class="df-card__header">
              <div class="df-card__avatar">
                <app-picshow [picture]="participant.avatar"></app-picshow>
              </div>
              <div class="df-card__info">
                <div class="df-card__username">{{participant.username}}</div>
                <div class="df-card__header-actions">
                  <button class="btn btn-tiny btn-tiny-danger btn-small"
                          (click)="confirmRemove({datebook: infoDatebook, participant: participant})">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>


  <!--  Основной контент-->
  <div class="datebook__main mb-5">
    <ng-container *ngIf="infoDatebook">
      <h2>Ежедневник "{{infoDatebook.title}}"</h2>

      <app-headline [date]="date" (setDate)="onSetDate($event)"></app-headline>

      <app-issue-creator-form *ngIf="showIssueCreator"
                              [date]="date"
                              [executors]="infoDatebook.participants"
                              [datebook]="infoDatebook"></app-issue-creator-form>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="usersIssues">
        <div class="datebook__day" *ngIf="usersIssues.length">
          <div class="notepad-list">
            <app-notepad *ngFor="let notepad of usersIssues"
                         [user]="notepad.user"
                         [issues]="notepad.issues"></app-notepad>
          </div>
        </div>
        <div class="flex flex_wrap flex_jc-c--xs mv-8" *ngIf="!usersIssues.length">
          <i class="fa fa-calendar-times-o fa-3x"></i>
          <div class="w-100 mt-3 tac">Задачи отсутствуют</div>
        </div>
      </ng-container>

      <ng-container *ngIf="!usersIssues">
        <div class="flex flex__wrap flex_jc-sb--xs">
          <app-skeleton-notepad></app-skeleton-notepad>
          <app-skeleton-notepad></app-skeleton-notepad>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
