<div class="datebook" *ngIf="(currentUser$ | async) as currentUser">

  <div>
    settingsShow - {{settingsShow}} <br>
    settingsTarget - {{settingsTarget}} <br>
    settingsAddParticipant - {{settingsAddParticipant | json}}
  </div>

  <div class="datebook__actions">
    <div class="datebook__action" *ngIf="!settingsShow">
      Настройки &nbsp; <button class="btn btn-tiny" (click)="settingsShow = true"><i class="fa fa-gears fa-2x icon-primary"></i></button>
    </div>

    <ng-container *ngIf="settingsShow && !settingsTarget">

      <ng-container *ngIf="currentUser.id === infoDatebook.creator">
        <div class="datebook__action datebook__action_small">
          Добавить участника &nbsp; <button class="btn btn-tiny" (click)="settingsTarget = 'addParticipant'"><i class="fa fa-user-plus icon-success"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          Удалить участника &nbsp; <button class="btn btn-tiny" (click)="settingsTarget = 'removeParticipant'"><i class="fa fa-user-times icon-danger"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          Закрыть настройки &nbsp; <button class="btn btn-tiny" (click)="closeSettings()"><i class="fa fa-times-circle-o icon-neutral"></i></button>
        </div>
      </ng-container>

      <ng-container *ngIf="currentUser.id !== infoDatebook.creator">
        <div class="datebook__action datebook__action_small">
          Покинуть ежедневник &nbsp; <button class="btn btn-tiny" (click)="confirmEscape(infoDatebook)"><i class="fa fa-sign-out icon-danger"></i></button>
        </div>
        <div class="datebook__action datebook__action_small">
          Закрыть настройки &nbsp; <button class="btn btn-tiny" (click)="closeSettings()"><i class="fa fa-times-circle-o icon-neutral"></i></button>
        </div>
      </ng-container>
    </ng-container>
  </div>

<!--  Настройки-->
  <div class="component mb-5" > <!--*ngIf="settingsTarget"-->

<!--    Добавление нового участника-->
    <form *ngIf="settingsTarget === 'addParticipant'" [formGroup]="addParticipantForm" (ngSubmit)="onAddParticipant()" class="form datebook__add-participant-form">
      <ui-close class="datebook__close-add-participant" (click)="this.closeAddParticipant()"></ui-close>
      <div class="form__group">
        <h3>Добавить нового участника</h3>
        <div class="form__horizontal form__vertical-start form__nowrap">
          <div class="flex flex__1 flex__column">
            <input type="email" placeholder="Введи точный email пользователя" formControlName="email" />
            <app-field-notice [field]="addParticipantForm.get('email')"></app-field-notice>
            <app-notice *ngIf="settingsAddParticipant.notice" [notice]="settingsAddParticipant.notice" [type]="settingsAddParticipant.typeNotice" ></app-notice>
          </div> &nbsp;&nbsp;&nbsp;
          <app-submit-button [classes]="['btn-tiny']"
                             [isSubmitting]="settingsAddParticipant.isSubmitting"
                             [disabled]="addParticipantForm.invalid || !settingsAddParticipant.user">
            <i class="fa fa-plus-square icon-primary"></i>
          </app-submit-button>
        </div>
      </div>
    </form>

    <!--    Удаление участника-->
    <ng-container >  <!--*ngIf="settingsTarget === 'removeParticipant'"-->
      <h3>Удаление участников ежедневника "{{infoDatebook.title}}"</h3>

      <ng-container *ngIf="infoDatebook.participants.length === 1">
        <p class="mt-3">Ты - единственный участник этого ежедневника</p>
      </ng-container>

      <div class="datebook__remove-list-participants mt-3" *ngIf="infoDatebook.participants.length > 1">
        <ng-container *ngFor="let participant of infoDatebook.participants">
          <div class="df-card df-card_user" *ngIf="participant.id !== currentUser.id">
            <div class="df-card__header">
              <div class="df-card__avatar">
                <app-picshow [picture]="participant.avatar"></app-picshow>
              </div>
              <div class="df-card__info">
                <div class="df-card__username">{{participant.username}}</div>
                <div class="df-card__header-actions">
                  <button class="btn btn-tiny btn-tiny-danger btn-small"
                          (click)="confirmRemove({datebook: infoDatebook, participant: participant})">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>


<!--  Основной контент-->
  <h2 *ngIf="infoDatebook">
    <i class="fa fa-file-text-o"></i> &nbsp; Ежедневник "{{infoDatebook.title}}"
  </h2>

  <!--<div class="datebook__day">
    <app-headline [date]="'12.03.2021'"></app-headline>
    <div class="notepad-list">
      <app-notepad></app-notepad>
      <app-notepad></app-notepad>
    </div>
  </div>-->
</div>
