@import '/src/assets/styles/variables';

.notice {
  margin: 10px 0;
  font-size: 14px;

  &.standard {
    color: $grey-dark;
  }
  &.success {
    color: $green;
  }
  &.error {
    color: $red;
  }
}
