@import 'src/assets/styles/variables';

.errors-main {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid $red;
  background: lighten($red, 35);
  padding: 10px;
  opacity: .9;
  color: $red;
  font-size: 14px;
}
